.header {
  padding: 0;
  margin: 500px 0 0;

  @media screen and (min-width: $screen-tablet) {
    margin: 0;
  }

  &__section {
    position: relative;
    z-index: 3;
    padding: $pad-xxs $pad-sm $pad-xxs $pad-sm;

    @media screen and (min-width: $screen-tablet) {
      padding: $pad-xxs $pad-sm $pad-xxs $pad-xlg;
    }
  }

  &__content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: $pad-sm;
    align-items: flex-start;
    padding: $pad-xs 0;
    z-index: 3;

    &.top {
      margin: $pad-lg $pad-sm 0;

      @media screen and (min-width: $screen-tablet) {
        margin: $pad-lg 0 0;
      }
    }

    @media screen and (min-width: $screen-tablet) {
      grid-template-columns: max-content 1fr;
    }
  }

  &__logo {
    margin-top: 6px;
    width: 2.5em;

    @media screen and (min-width: $screen-tablet) {
      width: 3em;
    }
  }

  &__title {
    position: relative;
    max-width: 500px;
    z-index: 3;
  }

  &__subtitle {
    position: relative;
    width: 100vw;
    margin: 0 0 $pad-sm;
    letter-spacing: 4px;
    padding: $pad-xxs $pad-sm $pad-xxs $pad-sm;
    box-sizing: border-box;
    background-color: rgba($color-8, 0.9);
    z-index: 1;

    @media screen and (min-width: $screen-tablet) {
      padding: $pad-xxs $pad-sm $pad-xxs $pad-xlg;
    }

    h2 {
      line-height: 1;
      margin: 20px 0;
      font-family: $font-secondary;
      font-size: 0.8em;
      font-weight: 800;
      text-transform: uppercase;
      color: $color-1;
      @media screen and (min-width: $screen-tablet) {
        font-size: 1.5em;
      }
    }
  }

  h1 {
    color: $color-1;
    line-height: 1;
    margin-bottom: 1rem;
  }
}

.social {
  &__nav {
    position: relative;
    z-index: 3;

    a {
      svg {
        max-width: 2em;
        fill: $color-3;
      }

      &:hover {
        svg {
          fill: $color-8;
        }
      }
    }
  }
}

.title {
  @media screen and (min-width: $screen-tablet) {
    margin: 0 $pad-xlg 0;
  }
}
