.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: $pad-sm;
  align-items: flex-start;
  padding: $pad-xs $pad-sm;

  @media screen and (min-width: $screen-tablet) {
    grid-template-columns: max-content 1fr;
  }

  &__logo {
    margin-top: 6px;
    width: 2.5em;

    @media screen and (min-width: $screen-tablet) {
      width: 3em;
    }
  }

  &__title {
    max-width: 500px;
  }

  &__subtitle {
    line-height: 1;
    margin: 20px 0;
    font-family: $font-secondary;
    font-size: 1.1em;
    font-weight: 200;
    color: $color-8;

    @media screen and (min-width: $screen-tablet) {
      font-size: 2em;
    }
  }

  h1 {
    line-height: 0.8;
  }
}

.social {
  &__nav {

    a {
      svg {
        max-width: 2em;
        fill: $color-5;
      }

      &:hover {
        svg {
          fill: $color-3;
        }
      }
    }
  }
}
