body {
  background-color: $color-1;
  width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
}

.intro {
  margin: $pad-sm $pad;
  max-width: 700px;

  @media screen and (min-width: $screen-tablet) {
    margin: $pad $pad-xlg 0;
  }
}

.content {
  &--work {

    img {
      max-width: 90%;
      border-radius: 10px;
      margin: $pad-sm auto;
      border: solid 5px lighten($color-2, 2%);

      @media screen and (min-width: $screen-desktop) {
        margin: $pad;
        max-width: 800px;
      }
    }
  }

  &__grid {
    display: grid;
    align-items: flex-start;
    justify-content: center;
    grid-template-columns: 1fr;

    img {
      max-width: 85%;
    }

    @media screen and (min-width: $screen-desktop) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
