body {
  background-color: $color-1;
  width: 100vw;
  overflow-x: hidden;
}

.intro {
  margin: $pad-sm $pad;
  max-width: 700px;

  @media screen and (min-width: $screen-tablet) {
    margin: $pad-lg $pad-xlg;
  }
}

.content {
  &--work {

    img {
      max-width: 90%;
      border-radius: 25px;
      margin: $pad-sm auto;
      border: solid 5px lighten($color-2, 2%);

      @media screen and (min-width: $screen-desktop) {
        margin: $pad-lg;
        max-width: 800px;
      }
    }
  }
}
