a.card {
  position: relative;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: repeat(2,max-content) 1fr ;
  width: 80%;
  min-height: 380px;
  margin: $pad-xlg auto;
  padding: $pad;
  overflow: hidden;
  transform: scale(1.0, 1.0);
  border: solid 8px lighten($color-7, 15%);
  border-radius: 10px;
  background-color: $color-2;
  box-shadow: 0px 0px 35px rgba($color-7, 0.1);
  color: $color-7;
  text-decoration: none;
  transition: all 0.4s ease;

  @media screen and (min-width: $screen-desktop) {
    width: 100%;
    margin: 0;
  }

  &:hover {
    transform: scale(0.90, 0.90);
    border-color: $color-3;
    color: $color-8;
    box-shadow: 0px 0px 35px rgba($color-7, 0.1);
    transition: all 0.4s ease;
  }

  img {
    align-self: flex-end;
    width: 100%;
  }

}

.work {
  &__grid {
    grid-gap: 100px $pad-lg;
    width: 100vw;

    @media screen and (min-width: $screen-desktop) {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      width: 80vw;
      margin: $pad-lg $pad;
    }
  }

  &__type {
    display: inline-block;
    z-index: 5;
    position: relative;
    margin: $pad-sm 0;
    padding: 2px 25px;
    border-radius: 25px;
    background-color: $color-8;
    color: $color-1;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__image {
    z-index: 5;
    position: relative;
    max-width: 100%;
  }

  &--work, &--talk {
    grid-column: span 2;

    h3 {
      z-index: 5;
      position: relative;
      font-size: 1.5em;
    }

    img {
      z-index:  -1;
      position: absolute;
      top: 50%;
      left: 50%;
      width: 180% !important;
      transform: translateY(-50%) translateX(-50%);
      // filter: grayscale(100%) opacity(0.5);

      @media screen and (min-width: $screen-desktop) {
        width: 120% !important;
      }
    }
  }
}
