
<header class="header">
  <img src="/assets/images/logo.svg" alt="Beau Heubach Logo" class="header__logo" />
  <div class="title">
    <h1 class="header__title">{{ site.title }}</h1>
    <h2 class='header__subtitle'>{{ site.subtitle }}</h2>
  </div>
</header>


<!-- <div id="nav">
{% for item in site.nav %}
  {% if item.href contains 'http' %}
     <a href="{{ item.href }}">{{ item.title }}</a>
  {% else %}
     <a href="{{ item.href | relative_url }}">{{ item.title }}</a>
  {% endif %}
  {% if forloop.last %}  {% else %} • {% endif %}
{% endfor %}
</div> -->
